{% if entry.heroMedia is defined %}
	{% set heroMedia = entry.heroMedia.one() %}
	{% if heroMedia != null %}
		<div class="header-image-wrapper overflow-hidden">
			<div class="relative w-full h-full">
				<div class="relative max-w-full h-full overflow-hidden">
					<div class="inline-block w-full h-full">
						{% if heroMedia.kind == 'video' %}
							<video class="object-center object-cover w-full h-full" src="{{heroMedia.url}}" autoplay muted loop></video>
						{% elseif heroMedia.kind == 'image' %}
							<img class="object-center object-cover w-full h-full" src="{{heroMedia.url}}" alt="{{ heroMedia.title }}">
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="mt-32 sm:mt-40">
		</div>
	{% endif %}
{% endif %}
