{% if module.textHeader != null %}
    <div class="mb-4">
        <h2 class="mb-0">{{ module.textHeader }}</h2>
        {% if module.subtitle != null %}
            <div class="text-sm">{{ module.subtitle }}</div>
        {% endif %}
    </div>
{% endif %}
{{ module.text }}
