{% if module.textHeader != null %}
    <div class="editorial-header">
        <h2>{{ module.textHeader }}</h2>
        {% if module.subtitle != null %}
            <div class="subtitle">{{ module.subtitle }}</div>
        {% endif %}
    </div>
{% endif %}
{{ module.text }}
