<anim-component inline-template>
    <div class="o-component module-image anim-component" :class="{loaded: loadedImage, 'animate': animate}">
        {% include "_includes/lazyMedia.twig" %}
    </div>
</anim-component>
