{% set isreversed = "" %}
{% if module.imagePosition == "right" %}
    {% set isreversed = "is-reverse" %}
{% endif %}
{% set animateMedia = component["animateMedia"]|default(false) %}
{% if animateMedia %}
<anim-component inline-template>
{% endif %}
    <div class="o-component module-image-text {% if animateMedia %}anim-component{% endif %}" :class="{loaded: loadedImage, 'animate': animate}">
        <div class="o-flex is-multiline has-gutter {{ isreversed }}">
            <div class="image-wrapper cell-1of2 cell-1of1-sm-down">
                {% include "_includes/lazyMedia.twig" %}
            </div>
            <div class="cell-1of2 cell-1of1-sm-down">
                {% include "_includes/text.twig" %}
            </div>
        </div>
    </div>
{% if animateMedia %}
</anim-component>
{% endif %}
