{% set lightBgClass = "" %}
{% if module.isLight %}
    {% set lightBgClass = "has-background -gray has-top-inner-space has-bottom-inner-space" %}
{% endif %}
<div class="o-section {{ lightBgClass }}">
    <div class="o-group has-inner-gutter">
        <div class="o-component quote-wrapper">
            <p class="quote">{{ module.text }}</p><strong class="author"><span class="minus">-</span> {{ module.author }}</strong>
        </div>
    </div>
</div>