{% set lightBgClass = "" %}
{% if module.isLight %}
    {% set lightBgClass = "has-background -gray has-top-inner-space has-bottom-inner-space" %}
{% endif %}
<div class="o-section {{ lightBgClass }}">
    <div class="o-group has-inner-gutter">
        <div class="article-body">
            <div class="o-component module-text">
                {% include "_includes/text.twig" %}

                {% set buttonLink = module.buttonLink.one() %}
                {% if buttonLink != null %}
                    <a class="button-wrapper" href="{{ buttonLink.url }}">
                        <button class="button">
                            {{ buttonLink.title }}
                            <svg width="16px" height="16px">
                                <use xlink:href="#arrow-right" />
                            </svg>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
