{% set animateMedia = component["animateMedia"]|default(false) %}
{% if animateMedia %}
<anim-component inline-template>
{% endif %}
    <div class="o-component module-video {% if animateMedia %}anim-component{% endif %}" :class="{loaded: loadedImage, 'animate': animate}">
        {% include "_includes/lazyMedia.twig" %}
    </div>
{% if animateMedia %}
</anim-component>
{% endif %}

