.anim-component {
    & picture {
        opacity: 0;
        transform: translateY(30px);
    }

    &.animate picture.js-loaded{
        opacity: 1;
        transition: opacity 0.25s ease-in-out, transform 0.3s ease-in-out;
        transform: translateY(0);
    }
}
