@import url(../../variables.css);

/* --- Themes --- */
.has-background.-gray {
    background: var(--light-gray);
}

.has-background.-white {
    background: var(--white);
}

.has-background.-light {
    background: var(--light);
}

.has-background.-dark {
    background: var(--dark);
}

.has-background.-black {
    background: var(--black);
}

.light-color {
    color: var(--default-light-text-color);
}

.grey-color {
    color: var(--gray);
}
