@import url(../../variables.css);

/* --- Default settings --- */
button, input {
    color: inherit;
}

button, input, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
}

button:-moz-ui-invalid,
input:-moz-ui-invalid,
textarea:-moz-ui-invalid {
    box-shadow: 0 0;
}

button, input, textarea, label {
    @apply transition-all;
    @apply duration-300;
}

button,
label,
input[type="radio"],
input[type="checkbox"],
input[type="submit"],
input[type="button"] {
    @apply cursor-pointer;
}

input, textarea {
    color: inherit;
    @apply text-base;
    @apply max-w-full;
    @apply w-full;
    @apply p-4;
    @apply border-solid;
    @apply border;
    @apply border-black;
    @apply rounded-lg;
}

input {
    @apply h-10;
}

textarea {
    @apply resize-y;
    @apply h-56;
}

input:valid {
    border-color: var(--form-default-color);
}

/* Button */
.button,
input[type="submit"],
input[type="button"] {
    @apply border-none;
    @apply bg-red-400;
    @apply rounded-3xl;
    @apply text-white;
    @apply py-1;
    @apply px-3;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply transition-colors;
    min-width: 150px;
    max-width: 200px;
}

a.button-wrapper {
    @apply no-underline;
}

.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
    @apply outline-none;
    @apply bg-red-500;
    box-shadow: 0 0 0 1px var(--page-background), 0 0 0 4px var(--form-active-color);
}

.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    @apply bg-red-500;

    & svg {
        transform: translateX(5px);
    }
}

@media (--for-sm-down) {
    .button,
    input[type="submit"],
    input[type="button"] {
        @apply max-w-full;
    }
}

/* Autocomplete Styling Chrome */
.form {
    & input:-webkit-autofill,
    & input:-webkit-autofill:hover,
    & input:-webkit-autofill:focus,
    & textarea:-webkit-autofill,
    & textarea:-webkit-autofill:hover,
    & textarea:-webkit-autofill:focus,
    & select:-webkit-autofill,
    & select:-webkit-autofill:hover,
    & select:-webkit-autofill:focus {
        border: 1px solid var(--form-default-color);
        -webkit-text-fill-color: var(--form-default-color);
        -webkit-box-shadow: 0 0 0 1000px var(--dark) inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

/* Checkbox + Radio */
input[type="checkbox"],
input[type="radio"] {
    @apply border-solid;
    @apply border;
    @apply border-black;
    @apply align-middle;
    @apply outline-none;
    @apply w-1;
    @apply h-1;
    @apply p-2;
}

input[type="radio"] {
    @apply rounded-full;
}

input[type="checkbox"] {
    @apply rounded-none;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background: url("../../assets/icons/check-icon.svg") no-repeat;
}

.checkbox-wrapper {
    @apply flex;
}

/* Invalid and Focus */
input:focus,
textarea:focus {
    @apply outline-none;
    border-color: var(--form-active-color);
}

input.dirty:invalid,
textarea.dirty:invalid {
    @apply outline-none;
    border-color: var(--form-error-color);
}

/* --- Label --- */
label.static {
    position: static;
}

label {
    @apply absolute;
    @apply mb-0;
    @apply left-4;
    @apply top-3;
    @apply origin-bottom-left;
    @apply opacity-0;
    @apply transform-gpu;
    color: var(--form-default-color);
    will-change: opacity, transform;
}

textarea:not(:placeholder-shown) + label,
input:not(:placeholder-shown) + label {
    transform: translate3d(0, -2em, 0) scale(0.7);
    @apply opacity-100;
}

input:focus + label,
textarea:focus + label {
    color: var(--form-active-color);
}

input.dirty:invalid + label {
    color: var(--form-error-color);
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    transform: unset;
    @apply static;
    @apply ml-4;
    @apply opacity-100;
}

label span {
    @apply whitespace-nowrap;
}