@import url(../../variables.css);

.news-teaser {
    display: inline-block;
    text-decoration: none;
    margin-bottom: var(--layout-gutter-height);
    width: 100%;
}

.news-teaser-heroMedia {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-teaser-wrapper {
    position: relative;
    height: 169px;
    overflow: hidden;

    &:hover {
        box-shadow: 2px 2px 6px #141414;
        transition: box-shadow 0.3s linear;
    }
}

@media (--for-sm-down) {
    .news-teaser-wrapper {
        height: calc(56vw - (2 * var(--page-gutter-width-sm)));
    }
}
