{% set animModule = module %}
<anim-component inline-template>
    <div class="anim-component o-component" :class="{'animate': animate}">
        {% if animModule.children.all() is not empty %}
            {% for module in animModule.children.all() %}
                {% include "_components/" ~ module.type %}
            {% endfor %}
        {% endif %}
    </div>
</anim-component>
