<div class="o-component module-text">
    {% include "_includes/text.twig" %}

    {% set buttonLink = module.buttonLink.one() ?? null %}
    {% if buttonLink != null %}
        <a class="button-wrapper" href="{{ buttonLink.url }}">
            <button class="button">
                {{ buttonLink.title }}
                <svg width="16px" height="16px">
                    <use xlink:href="#arrow-right" />
                </svg>
            </button>
        </a>
    {% endif %}
</div>
