{% set parameters = {
    asHero: true,
    isAutoplay: false,
    isCover: true
} %}

{% set media = module.media %}

{% if (module.title is defined and module.title != null) or (module.text is defined and module.text != null) %}
    <div class="foreground is-vertical o-section my-0">
        {% include "_includes/text.twig" %}
    </div>
{% endif %}
{% if module.media is defined and module.media.one() != null %}
    <div class="background">
        {% include "_includes/lazyMedia.twig" %}
    </div>
{% endif %}
