:root {
    --white: #ffffff;
    --light: #f0f0f0;
    --dark: #212121;
    --black: #000000;
    --light-gray: #bdbdbd;
    --gray: #808080;
    --red: #FF363E;
    --dark-red: #C1272D;
    --orange: #f99157;
    --yellow: #ffcc66;
    --green: #99cc99;
    --cyan: #66cccc;
    --blue: #6699cc;
    --violet: #cc99cc;
    --magenta: #d27b53;

    --page-background: var(--light);

    /* Text - Default */
    --default-font-family: "Roboto", system-ui, -apple-system, sans-serif;
    --fallback-font-family: system-ui, -apple-system, sans-serif;
    --default-text-color: var(--dark);
    --default-light-text-color: var(--gray);
    --default-highlight-text-color: var(--gray);
    --default-dark-text-color: var(--dark);
    --default-font-size: 16px;
    --default-font-size-sm: 16px;
    --default-font-size-xl: 16px;
    --default-font-weight: 400;
    --default-line-height: 1.6em;
    --default-line-height-sm: 1.6em;

    /* Text - Headings */
    --headings-font-family: var(--default-font-family);
    --headings-color: inherit;
    --headings-font-weight: bold;
    --headings-line-height: 1.17;
    --headings-margin-bottom: 0.4em;

    --h1-margin-top: 0;
    --h1-margin-bottom: 1em;
    --h2-margin-top: 0;
    --h2-margin-bottom: 0.7em;
    --h3-margin-top: 0;
    --h3-margin-bottom: 0.4em;

    --h1-font-size: calc(30px + (34 - 30) * (100vw - 768px) / (1340 - 768)); /* 4rem @ 1340px -> 2.8rem @ 320px */
    --h2-font-size: calc(22px + (24 - 22) * (100vw - 768px) / (1340 - 768)); /* 4rem @ 1340px -> 2.8rem @ 320px */
    --h3-font-size: calc(18px + (20 - 18) * (100vw - 768px) / (1340 - 768)); /* 4rem @ 1340px -> 2.8rem @ 320px */
    --h4-font-size: calc(16px + (20 - 16) * (100vw - 768px) / (1340 - 768)); /* 2.5rem @ 1340px -> 1.9rem @ 320px */
    --h5-font-size: calc(15px + (20 - 15) * (100vw - 768px) / (1340 - 768)); /* 2rem @ 1340px -> 1.8rem @ 320px */
    --button-font-size: 16px;
    --input-font-size: 16px;
    --hnav-font-size: 16px;
    --legend-font-size: 14px;

    --h1-font-size-xl: 34px;
    --h2-font-size-xl: 24px;
    --h3-font-size-xl: 20px;
    --h4-font-size-xl: 20px;
    --h5-font-size-xl: 20px;
    --button-font-size-xl: 18px;
    --input-font-size-xl: 18px;
    --hnav-font-size-xl: 18px;
    --legend-font-size-xl: 14px;

    --h1-font-size-sm: 30px;
    --h2-font-size-sm: 22px;
    --h3-font-size-sm: 18px;
    --h4-font-size-sm: 16px;
    --h5-font-size-sm: 15px;
    --button-font-size-sm: 16px;
    --input-font-size-sm: 16px; /* min font-size to avoid scaling on focus */
    --hnav-font-size-sm: 21px;
    --legend-font-size-sm: 12px;

    --p-margin-bottom: 1.75em;
    --media-margin-height: 2em;

    /* Page - default, layout */
    --page-maxwidth: 64rem;
    --page-maxwidth-large: 72rem;
    --page-gutter-width: 4rem;
    --page-gutter-width-sm: 2rem;

    --section-margin-height: 6.25vmin;
    --section-margin-height-sm: 6rem;

    --component-margin-height: 3rem;
    --component-margin-height-sm: 3rem;

    --layout-gutter-width: 3rem;
    --layout-gutter-height: 3rem;

    --carousel-gutter-width: 3rem;

    /* Rwd */
    --rwd-margin-height-md: 21px; /* contact 1 */
    --rwd-margin-height-lg: 21px;
    --rwd-margin-height-sm: 12px;
    --menu-toggle-height: 55px;
    --menu-toggle-height-reduced: 26px;

    /* Form */
    --form-default-color: var(--dark);
    --form-border-color: var(--dark);
    --form-error-color: var(--dark-red);
    --form-active-color: var(--blue);
    --form-readonly-color: var(--gray);
    --form-invalid-color: var(--dark-red);
    --form-error-border-color: var(--dark-red);
    --form-error-text-color: var(--default-dark-text-color);
    --form-error-background: transparent;
    --form-success-color: #cbdb2a;
    --form-input-background: transparent;
    --form-option-hover-color: #ededed;

    /* Button */
    --button-default-background: var(--blue);
    --button-active-background: var(--white);
    --button-default-color: var(--default-light-text-color);
    --button-active-color: var(--default-dark-text-color);
    --button-border-color: var(--black);

    /* Timings */
    --default-timing: 250ms;

    /* Default space units */
    --zero-width-space: 0;                 /*   0  em | Allows line break, like <wbr> */
    --hair-space: 0.0417em;                /* 1/24 em | Width varies, but narrower than thin space */
    --fine-space: 0.125em;                 /* 1/8  em | For French punctuation */
    --six-per-em-space: 0.1667em;          /* 1/6  em | Might be suitable for grouping */
    --thin-space: 0.2em;                   /* 1/5  em | Recommended minimum width of space */
    --medium-mathematical-space: 0.2222em; /* 4/18 em | Around operators (according to Chicago) */
    --four-per-em-space: 0.25em;           /* 1/4  em | mid space: Average width of normal space */
    --thick-space: 0.2778em;               /* 5/18 em | Around relational operators (according to Chicago) */
    --three-per-em-space: 0.3333em;        /* 1/3  em | Width of space in a wide font */
    --en-space: 0.5em;                     /* 1/2  em | Recommended maximum width of space */
    --em-space: 1em;                       /*   1  em | One */

    /* Breakpoints */
    --bp-sm: 544px;
    --bp-md: 768px;
    --bp-lg: 992px;
    --bp-xl: 1200px;
}

/* Media queries */
@custom-media --for-xs (width < 544px);
@custom-media --for-sm (width >= 544px) and (width < 768px);
@custom-media --for-md (width >= 768px) and (width < 992px);
@custom-media --for-lg (width >= 992px) and (width < 1340px);
@custom-media --for-xl (width >= 1340px);

@custom-media --for-sm-up (width >= 544px);
@custom-media --for-md-up (width >= 768px);
@custom-media --for-lg-up (width >= 992px);

@custom-media --for-sm-down (width < 768px);
@custom-media --for-md-down (width < 992px);
@custom-media --for-lg-down (width < 1340px);

@custom-media --for-burger-nav (width < 768px);
@custom-media --for-standard-nav (width >= 768px);

@custom-media --for-touch-device ( device-width <= 1024px );
@custom-media --for-pointing-device (device-width > 1025px);
