:root {
    --light: #f0f0f0;
    --dark: #212121;
    --dark-red: #C1272D;

    --page-background: white;

    /* Page - default, layout */
    --page-gutter-width: 2rem;
    --layout-gutter-width: 3rem;

    /* Form */
    --form-default-color: var(--dark);
    --form-border-color: var(--dark);
    --form-error-color: var(--dark-red);
    --form-active-color: #6699cc;
    --form-readonly-color: #808080;
    --form-error-border-color: var(--dark-red);
    --form-error-text-color: var(--dark);
    --form-error-background: transparent;
}

/* Media queries */
@custom-media --for-xs (width < 544px);
@custom-media --for-sm (width >= 544px) and (width < 768px);
@custom-media --for-md (width >= 768px) and (width < 992px);
@custom-media --for-lg (width >= 992px) and (width < 1340px);
@custom-media --for-xl (width >= 1340px);

@custom-media --for-sm-up (width >= 544px);
@custom-media --for-md-up (width >= 768px);
@custom-media --for-lg-up (width >= 992px);

@custom-media --for-sm-down (width < 768px);
@custom-media --for-md-down (width < 992px);
@custom-media --for-lg-down (width < 1340px);

@custom-media --for-burger-nav (width < 768px);
@custom-media --for-standard-nav (width >= 768px);

@custom-media --for-touch-device ( device-width <= 1024px );
@custom-media --for-pointing-device (device-width > 1025px);
