{% extends '_layout' %}

{% set title = '404 - Page Not Found' %}


{% block hero %}
	{#Home Hero#}
	<div class="o-section o-hero">
		{% include "_includes/heroImage.twig" %}
	</div>
{% endblock %}

{% block content %}

	<div class="main mt-0 pt-12">
		<section class="o-section">
			<div class="o-group">
            	<h1>404 - Page Not Found</h1>
			</div>
		</section>
        <section class="o-section">
			<div class="o-group">
                {{ entry.text }}
            </div>
        </section>
    </div>
{% endblock %}
