@import url(../../variables.css);

body {
    font-size: var(--default-font-size);
    color: var(--default-text-color);
}

del {
    font-family: var(--fallback-font-family);
    text-decoration: none;
}

.-light-color,
h1.-light-color, h2.-light-color, h3.-light-color, h4.-light-color, h5.-light-color, h6.-light-color {
    color: var(--default-light-text-color);
}

.-dark-color {
    color: var(--default-dark-text-color);
}

.-highlight {
    color: var(--default-highlight-text-color);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-feature-settings: 'dlig' 0, 'liga' 0, 'lnum' 1, 'kern' 1;
    font-family: var(--headings-font-family);
    color: var(--headings-color);
    font-weight: var(--headings-font-weight);
    line-height: var(--headings-line-height);
    text-rendering: geometricPrecision;
}

h1, .h1 {
    letter-spacing: -0.01em;
    margin: var(--h1-margin-top) 0 var(--h1-margin-bottom);
    font-weight: 700;
}

/* h1 special styling */
h1 {
    display: inline-block;
    position: relative;
    margin-bottom: 0; /* because always top of page with section break */
}

@keyframes h1-anim {
    from {
        width: 0px;
    }
    to {
        width: 80%;
    }
}

/* END h1 special styling*/

h2, .h2 {
    margin: var(--h2-margin-top) 0 var(--h2-margin-bottom);
}

p {
    font-feature-settings: 'liga' 1, 'lnum' 1, 'kern' 1;
}

.hnav {
    font-size: var(--hnav-font-size);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.035em;
}

.legend {
    font-size: var(--legend-font-size);
    line-height: 1.5em;
    margin-top: 1em;
}

.o-section h2.hnav:first-child {
    margin: 0 0 -0.25em 0;
    padding: 0;
}

.has-background.-dark h2.hnav {
    color: var(--default-light-text-color);
}

h3, .h3 { margin: var(--h3-margin-top) 0 var(--h3-margin-bottom); }
h4, .h4 { margin: 0 0 var(--headings-margin-bottom); }
h5, .h5 { margin: 0 0 var(--headings-margin-bottom); }
h6, .h6 { margin: 0 0 var(--headings-margin-bottom); }

.has-inner-gutter h1:last-child { margin-bottom: 0; padding-bottom: var(--h1-margin-bottom); }
.has-inner-gutter h2:last-child { margin-bottom: 0; padding-bottom: var(--h2-margin-bottom); }
.has-inner-gutter h3:last-child { margin-bottom: 0; padding-bottom: var(--h3-margin-bottom); }
.has-inner-gutter h4:last-child { margin-bottom: 0; padding-bottom: var(--headings-margin-bottom); }
.has-inner-gutter h5:last-child { margin-bottom: 0; padding-bottom: var(--headings-margin-bottom); }
.has-inner-gutter h6:last-child { margin-bottom: 0; padding-bottom: var(--headings-margin-bottom); }


@media (--for-md-up) {
    h1, .h1 { font-size: var(--h1-font-size); }
    h2, .h2 { font-size: var(--h2-font-size); }
    h3, .h3 { font-size: var(--h3-font-size); }
    h4, .h4 { font-size: var(--h4-font-size); }
    h5, .h5 { font-size: var(--h5-font-size); }
    h6, .h6 { font-size: var(--h5-font-size); }

    button, .button {
        font-size: var(--button-font-size);
    }

    input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
    textarea[name], .selection-input, .selection-list, .file-upload-text {
        font-size: var(--input-font-size);
    }
}

/* or use several breakpoints */

/*

@media (--for-lg) {

    h1, .h1 { font-size: var(--h1-font-size-lg); letter-spacing: -2px; text-indent: -3px; }
    h2, .h2 { font-size: var(--h2-font-size-lg); letter-spacing: -1px; }
    h3, .h3 { font-size: var(--h3-font-size-lg); letter-spacing: -0.6px; }
    h4, .h4 { font-size: var(--h4-font-size-lg); }
    h5, .h5 { font-size: var(--h5-font-size-lg); }
    h6, .h6 { font-size: var(--h5-font-size-lg); }

    .button {
        font-size: var(--button-font-size-lg);
    }

    input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
    textarea[name], .selection-input, .selection-list, .file-upload-text {
        font-size: var(--input-font-size-lg);
    }
}

@media (--for-md) {

    h1, .h1 { font-size: var(--h1-font-size-md); }
    h2, .h2 { font-size: var(--h2-font-size-md); }
    h3, .h3 { font-size: var(--h3-font-size-md); }
    h4, .h4 { font-size: var(--h4-font-size-md); }
    h5, .h5 { font-size: var(--h5-font-size-md); }
    h6, .h6 { font-size: var(--h5-font-size-md); }

    .button {
        font-size: var(--button-font-size-md);
    }

    input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
    textarea[name], .selection-input, .selection-list, .file-upload-text {
        font-size: var(--input-font-size-md);
    }
} */

@media (--for-sm-down) {

    body {
        font-size: var(--default-font-size-sm);
        line-height: var(--default-line-height-sm);
    }

    h1, .h1 { font-size: var(--h1-font-size-sm); }
    h2, .h2 { font-size: var(--h2-font-size-sm); }
    h3, .h3 { font-size: var(--h3-font-size-sm); }
    h4, .h4 { font-size: var(--h4-font-size-sm); }
    h5, .h5 { font-size: var(--h5-font-size-sm); }
    h6, .h6 { font-size: var(--h5-font-size-sm); }

    h2.h4 {
        margin: 0 0 var(--section-margin-height-sm);
    }

    .hnav {
        font-size: var(--hnav-font-size-sm);
        font-weight: 400;
        letter-spacing: 0;
        line-height: 2em;
    }

    .legend {
        font-size: var(--legend-font-size-sm);
    }

    button, .button {
        font-size: var(--button-font-size-sm);
    }

    input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
    textarea[name], .selection-input, .selection-list, .file-upload-text {
        font-size: var(--input-font-size-sm);
    }
}

@media (--for-xl) {

    body {
        font-size: var(--default-font-size-xl);
    }

    h1, .h1 { font-size: var(--h1-font-size-xl); }
    h2, .h2 { font-size: var(--h2-font-size-xl); }
    h3, .h3 { font-size: var(--h3-font-size-xl); }
    h4, .h4 { font-size: var(--h4-font-size-xl); }
    h5, .h5 { font-size: var(--h5-font-size-xl); }
    h6, .h6 { font-size: var(--h5-font-size-xl); }

    button, .button {
        font-size: var(--button-font-size-xl);
    }

    .hnav {
        font-size: var(--hnav-font-size-xl);
    }

    .legend {
        font-size: var(--legend-font-size-xl);
    }

    input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
    textarea[name], .selection-input, .selection-list, .file-upload-text {
        font-size: var(--input-font-size-xl);
    }
}
