@import url(../../variables.css);

/* TODO tailwindcss */

:root {
    /* Header */
    --header-content-height: 44px;
    --header-margin-height: 3.5rem;
    --header-margin-height-burger: 3.5rem;
    --header-margin-height-burger-sm: 4.5vw;
    --header-height: calc(
            var(--header-margin-height) + var(--header-margin-height) +
            var(--header-content-height)
    );
    --header-height-small: calc(
            var(--header-margin-height-burger) + var(--header-margin-height-burger) +
            var(--header-content-height)
    );

    /* Burger */
    --burger-placeholder-width: 44px;
    --burger-placeholder-height: 44px;
    --burger-width: 40px;
    --burger-height: 30px;
    --burger-diagonal: 43px; /* sqrt(--burger-width^2 + --burger-height^2) */
    --burger-bar-height: 5px;
    --burger-background: transparent;
    --burger-color-closed: inherit;

    --default-navigation-timing: 0.15s;
}

.o-section.header-spacing > .o-group {
    padding-top: var(--header-margin-height);
    padding-bottom: var(--header-margin-height);
}

.page-header-sentinel {
    height: var(--header-height);
}

.section-anchor {
    position: absolute;
    visibility: hidden;
    top: 0;
    margin-top: calc(
            var(--header-height) * -1
    );
    height: var(--header-height);
}

@media (--for-standard-nav) {
    .section-anchor {
        position: absolute;
        top: 0;
        margin-top: calc(
                var(--header-height) * -1
        );
        height: var(--header-height)
    }
}

@media (--for-burger-nav) {
    .o-section.header-spacing > .o-group {
        padding-top: var(--header-margin-height-burger);
        padding-bottom: var(--header-margin-height-burger);
    }

    .page-header-sentinel {
        height: var(--header-height-small);
    }

    .section-anchor {
        margin-top: calc(
                var(--header-height-small) * -1
        );
        height: var(--header-height-small);
    }
}

@media (--for-sm-down) {
    .o-section.header-spacing > .o-group {
        padding-top: var(--header-margin-height-burger-sm);
        padding-bottom: var(--header-margin-height-burger-sm);
    }

    .page-header-sentinel {
        height: var(--header-height-small);
    }

    .section-anchor {
        margin-top: calc(
                var(--header-height-small) * -1
        );
        height: var(--header-height-small);
    }
}

/* burger */
.burger {
    float: right;
    width: var(--burger-placeholder-width);
    min-width: var(--burger-placeholder-width);
    height: var(--burger-placeholder-height);
    background: transparent;
    position: relative;
    right: 0;
    color: var(--burger-color-closed);
    z-index: 3;
    @apply outline-none;
    -webkit-appearance: none;
    margin-top: 0;
    padding-left: calc(
            (var(--burger-placeholder-width) - var(--burger-width)) / 2
    );
    padding-right: calc(
            (var(--burger-placeholder-width) - var(--burger-width)) / 2
    );
    margin-left: auto;
    margin-right: calc(
            -1 * (var(--burger-placeholder-width) - var(--burger-width)) / 2
    );
    box-shadow: none;
    border: 0;
}

.burger-bars {
    position: relative;
    height: var(--burger-height);
    width: var(--burger-width);
}

.burger-bar {
    display: block;
    position: absolute;
    width: var(--burger-width);
    height: var(--burger-bar-height);
    background: currentColor;
    transition: opacity var(--default-navigation-timing),
    transform var(--default-navigation-timing),
    width var(--default-navigation-timing);
    will-change: opacity, transform, width;
}

.burger-bar-top {
    top: 0;
    transform-origin: top left;
}

.burger-bar-middle {
    top: 50%;
    transition: transform var(--default-navigation-timing);
    transform-origin: center;
    transform: scaleX(1) translateY(-50%);
}

.burger-bar-bottom {
    bottom: 0;
    transform-origin: bottom left;
}

.burger.js-open .burger-bar-top {
    transform: rotate(45deg) translateY(-50%);
    width: var(--burger-diagonal);
}

.burger.js-open .burger-bar-middle {
    transform: scaleX(0) translateY(-50%);
}

.burger.js-open .burger-bar-bottom {
    transform: rotate(-45deg) translateY(50%);
    width: var(--burger-diagonal);
}

/* Navigation */
.o-navigation li {
    @apply my-4;
}

.o-navigation a {
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    line-height: 1.2em;
    font-size: var(--h1-font-size-xl);
    color: currentColor;
    font-weight: bold;
}

.o-navigation a::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: currentColor;
    position: absolute;
    bottom: -6px;
    left: 0;
    opacity: 0;
    transition: opacity var(--default-navigation-timing) linear, bottom 0.2s ease-in-out;
}

.o-navigation a:hover::after {
    content: "";
    width: 100%;
    background-color: currentColor;
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: 1;
}

@media (--for-md-up) {
    .o-navigation ul {
        text-align: left;
    }

    .o-navigation li {
        line-height: 1em;
    }
}

@media (--for-sm-down) {
    .o-navigation ul,
    .o-navigation li {
        display: block;
        text-align: left;
    }

    .o-navigation li {
        line-height: 2em;
    }
}
