/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../../assets/webfonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/webfonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/webfonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/webfonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../../assets/webfonts/roboto-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/webfonts/roboto-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../../assets/webfonts/roboto-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/webfonts/roboto-v20-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../../assets/webfonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/webfonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../assets/webfonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/webfonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../../assets/webfonts/roboto-v20-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/webfonts/roboto-v20-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../../assets/webfonts/roboto-v20-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/webfonts/roboto-v20-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}