{% extends '_layout' %}

{% set title = entry.title %}
{% set bodyClass = '-bg-cream -color-anthracit' %}

{% block hero %}
    {#Hero#}
    <div class="o-section o-hero mt-0 is-full-width -bg-pattern">
        {% include "_includes/heroImage.twig" %}
        <div class="o-view-header-sentinel"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="main mt-0 pt-12">
		<section class="o-section">
			<div class="o-group">
            	<h1>{{ entry.title }}</h1>
			</div>
		</section>

        {% for component in entry.components.level(1).all() %}
            {% include "_components/" ~ component.type %}
        {% endfor %}
    </div>
{% endblock %}
